@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* :root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: aqua;
} */

body {
    background-color: rgba(0, 0, 0, 0.961);
    color: white;
}

section{
    height: 100vh;
    padding: 108px 37px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 100; */
}
.logo{
    font-size: 35px;
    color: white;
    font-weight: 600;
    cursor: default;
}

.navbar>a{
    font-size: 25px;
    color: whitesmoke;
    margin-left: 25px;
    padding-right: 30px;
}   

.navbar>a:hover,.navbar>a.active{
    color: rgb(52, 198, 198);
}

#menu-icon{
    font-size: 30px;
    color: white;
    display: none;
}
    
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content>h1{
    font-size: 45px;
    font-weight: 800;
    line-height: 45px;
    /* font-style: italic; */
}

.home-content>h3{
    font-size: 25px;
    font-weight: 700;
}
.home-content>h3:nth-of-type(2){
    margin-bottom: 32px;
}

span{
    color: aqua;
}
.btn{
    display: inline-block;
    padding:  15px 40px;
    background: aqua;
    border-radius: 50px;
    box-shadow: 0 0 15px aqua;
    font-size: 25px;
    margin-top: 10px;
    color: #323946;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
}
.btn:hover{
    box-shadow: none;

}

.btn1{
    height: 60px;
    width: 150px;
    display: inline-block;
    /* padding:  15px 30px; */
    background: aqua;
    border-radius: 30px;
    box-shadow: 0 0 15px aqua;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #323946;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.5s;
}
.btn1:hover{
    box-shadow: none;

}

.btn2{
    height: 60px;
    width: 150px;
    display: inline-block;
    /* padding:  15px 30px; */
    background: aqua;
    border-radius: 30px;
    box-shadow: 0 0 15px aqua;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #323946;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.5s;
}
.btn2:hover{
    box-shadow: none;

}

.btn3{
    height: 60px;
    width: 150px;
    display: inline-block;
    /* padding:  15px 30px; */
    background: aqua;
    border-radius: 30px;
    box-shadow: 0 0 15px aqua;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #323946;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.5s;
}
.btn3:hover{
    box-shadow: none;

}

.home-img > img{
    width: 350px;
    height: 350px;
    /* padding-left: 80px; */
    margin-top: 30px;
    margin-left: 90px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 1px rgba(222, 210, 210, 0.674)  ;
}


.social-media > a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 33px;
    background: transparent;
    border: 1px solid aqua;
    border-radius: 50%;
    /* font-size: 7px; */
    color: aqua;
    margin: 9px;
    transition: all 0.5s;
}

.social-media > a:hover{
    background-color: aqua;
    color: black;
    box-shadow: 0 0 3px aqua;
}
.about{
    padding-block: 90px;
}
.top-header{
    text-align: center;
    margin-bottom: 80px;
    
}
.top-header>h1{
    font-weight: 900;
    font-size: 40px;
    text-shadow: 0px 0px 5px aqua;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}
.about-info{
    /* position: relative; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-block: 30px 70px; */
    padding: 30px;
    width: 100%;
    background:  #323946;
    box-shadow: 0px 0px 10px aqua;
    border-radius: 20px;
    transition: all 2s;
}
.about-info:hover{
    background-color: rgba(245, 245, 245, 0.783);
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 15px aqua;
}
.about-info>h3{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 15px;
    padding-top: 10px;
    font-family: sans-serif;
    text-shadow: 0px 0px 10px white;
    color: black;
}
.skills-box{
margin: 10px;
}
.skills-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    margin-left: 40px;
}
.col{
    display: flex;
    width: 50%;
    margin-left: 30px;
}
.skills-header>h3{
    font-size: 20px;
    font-weight: 600;
    color: red;
    cursor: pointer;
    margin-bottom: 15px;
}


.projects>h1{
    font-weight: 900;
    font-size: 40px;
    text-shadow: 0px 0px 5px aqua;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.projects-container{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.projects-container>.projects-box{
    flex: 1 1 280px;
    background: #323946;
    border-radius: 32px;
    text-align: center;
    border: 1px solid wheat;
    transition: all 0.5s;
    cursor: pointer;
}

.projects-container>.projects-box:hover{
    border-color: aqua;
    transform: scale(1.07);
}

.projects-box>i{
    font-size: 40px;
    color: aqua;
}

.projects-box>h3{
    font-size: 30px;
    color: black;
    text-shadow: 0px 0px 15px aquamarine;
}

.projects-box>p{
    font-size: 20px;
    margin: 16px 0 38px 0px;
}



.contact>h2{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 48px;
}

.contact>form{
    max-width: 800px;
    margin: 16px auto;
    text-align: center;
    margin-bottom: 48px;
}
.contact>form>.input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact>form>.input-box>input,
.contact>form>textarea{
    width: 100%;
    padding: 15px;
    font-size: 25px;
    background: #323946;
    color: white;
    border-radius: 10px;
    margin: 16px 0px;
}

.contact>form>.input-box>input{
    width: 49%;
}
.contact>form>textarea{
    resize: none;
}
.contact>form>.btn{
    margin-top: 32px;
    margin-bottom: 30px;
}
.btn4{
    display: inline-block;
    padding:  15px 40px;
    background: aqua;
    border-radius: 50px;
    box-shadow: 0 0 15px aqua;
    font-size: 25px;
    margin-top: 20px;
    color: #323946;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.5s;
}
.btn4:hover{
    box-shadow: none;

}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 35px 70px;
    background: #323946;
    margin-top: 150px;
}

.footer-text>p{
    font-size: 20px;
}

.footer-iconTop>a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: aqua;
    padding: 8px;
    border-radius: 12px;
    transition: all 0.5s;
}

.footer-iconTop>a:hover{
box-shadow: 0px 0px 16px aqua;
}

.footer-iconTop>a>i{
    font-size: 25px;
    color: #323946;
}